h1 {
    color: fuchsia;
}
h2 {
    color: turquoise;
}
h3 {
    color: goldenrod;
}

.container {
    text-align: center;
}
#googleLogIn {
    margin-top: 1em;
    padding: 1%;
    background-color: white;
    border-left: 16px ridge #4285F4;
    border-top: 16px ridge #0F9D58;
    border-right: 16px ridge #F4B400;
    border-bottom: 16px ridge #DB4437;
}
#googleLogIn:active {
    margin-top: 1em;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-left: 16px groove #4285F4;
    border-top: 16px groove #0F9D58;
    border-right: 16px groove #F4B400;
    border-bottom: 16px groove #DB4437;
}
.questionCard {
    border: 2px solid black;
    padding: 1%;
}